<section class="singup__wrapper">
    <form class="singup__form">
        <div class="singup__form__inputs">
            <h2>SingUp</h2>
            <input type="text" placeholder="Login">
            <input type="password" placeholder="Passord">
        </div>
        <div class="singup__form__submit">
            <button type="submit">SingUp</button>
            <p>Do you already have an account? 
                <a class="chat" [routerLink]="['/login']">LogIn</a>
            </p>
        </div>
        <div class="singup__form__pdoviders">
            <button type="button">SingUp with Google</button>
            <button type="button">SingUp with Facebook</button>
        </div>
    </form>
</section>