<section class="chats__wrapper">
    <div class="chat__content">
        <div class="chat__content__header">
            <div class="user__info">
                <div class="user__info__icon user__icon" [ngStyle]="{'backgroundImage': currentUser.photoUrl ? 'url('+ currentUser.photoUrl + ')' : 'url(../../../assets/images/default-profile-icon.png)'}"></div>
                <span class="user__info__name">{{currentUser?.firstName + ' ' + currentUser?.lastName}}</span>
                <button class="user__info__logout" (click)="logOut()"></button>
            </div>
            <div class="search__wrapper">
                <input type="text" id="search__chats__input" (input)="onChangeSearchChats()" [(ngModel)]="searchValue" name="searchValue" placeholder="Search or start new chat">
                <label for="search__chats__input"></label>
            </div>
        </div>
        <div class="chat__header">
            <h2>Chats</h2>
        </div>
        <ul class="chat__list" *ngIf="!searching">
            <p *ngIf="chats.length == 0" class="chats__empty">You have not any chats</p>
            <li class="chat__list__link" *ngFor="let chat of chats ">
                <a class="chat" [routerLink]="['/chats/', chat.id]" routerLinkActive="active">  
                    <div class="chat__icon__and__info">
                        <div class="chat__user__icon user__icon" [ngStyle]="{'backgroundImage': chat?.photoUrl ? 'url(' + chat?.photoUrl + ')' : 'url(../../../assets/images/default-profile-icon.png)'}"></div>
                        <div class="chat__user__info">
                            <h3 class="chat__user__info__name">{{chat?.firstName + ' ' + chat?.lastName}}</h3>
                            <p class="chat__user__info__lastMessage">{{(chat?.lastMessage | slice:0:40) + '...'}}</p>
                        </div> 
                    </div>
                    <time class="chat__user__date">{{chat.lastActive?.seconds * 1000 | date:'HH:mm, MMM d'}}</time>
                </a>
            </li>
        </ul>
        <div class="chat__list" *ngIf="searching">
            <p *ngIf="foundUsersListEmpty" class="found__users__status">No users found for "{{searchValue}}"</p>
            <p *ngIf="!foundUsersListEmpty" class="found__users__status">Found for "{{searchValue}}": {{foundUsersAmongAllUsers?.length}}</p>
            <ul class="chat__list" *ngIf="!foundUsersListEmpty">
                <li class="chat__list__link" *ngFor="let foundUser of foundUsersAmongAllUsers;">
                    <button class="chat" (click)="goToChat(foundUser?.id)">  
                        <div class="chat__icon__and__info">
                            <div class="chat__user__icon user__icon" [ngStyle]="{'backgroundImage': foundUser?.photoUrl ? 'url(' + foundUser?.photoUrl + ')' : 'url(../../../assets/images/default-profile-icon.png)'}"></div>
                            <div class="chat__user__info">
                                <h3 class="chat__user__info__name">{{foundUser?.firstName + ' ' + foundUser?.lastName}}</h3>
                                <p class="chat__user__info__lastMessage">{{foundUser?.email}}</p>
                            </div> 
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div *ngIf="chatNoSelected" class="chat__no__selected">
        <span>Select any chat</span>
    </div>
</section>