:root{
    --main-color: white;
    --secondary-color: #fafafa80;
    --tertiary-color:#f5f5f5ad;
    --main-text-color: #6b6b6b;
    --secondary-text-color:#b8b8b8;
    --border-radius: 20px;
    --border-color: #ededed;
    --main-font-family: 'Montserrat-Regular';
    --icon-size: 40px;
    --chats-bar-width: 35vw;
    --main-retreat: 15px;
}