<section class="login__wrapper">
    <form class="login__form">
        <div class="login__form__inputs">
            <h2>LogIn</h2>
            <input type="text" placeholder="Login">
            <input type="password" placeholder="Passord">
        </div>
        <div class="login__form__submit">
            <button type="submit">LogIn</button>
        </div>
        <div class="login__form__pdoviders">
            <button type="button">Login with Google</button>
            <button type="button">Login with Facebook</button>
        </div>
    </form>
</section>