<section class="dialog__content">
    <div class="dialog__header">
        <div class="user__icon" [ngStyle]="{'backgroundImage': chatUser?.photoUrl ? 'url(' + chatUser?.photoUrl +')' : 'url(../../../assets/images/default-profile-icon.png)'}"></div>
        <span *ngIf="chatUser?.firstName" class="dialog__header__user__name">{{chatUser?.firstName + ' ' + chatUser?.lastName}}</span>
    </div>
    <div class="dialog__messages__wrapper">
        <div class="dialog__messages__content">
            <p *ngIf="messages.length == 0" class="no__messages">No messages yet</p>
            <div class="message__wrapper" *ngFor="let message of messages" [ngClass]="{'authorized__user': message?.sendBy == chatUser?.id ? false : true}">
                <div *ngIf="message?.sendBy == chatUser?.id ? true : false" class="user__icon not__mark" [ngStyle]="{'backgroundImage': chatUser?.photoUrl ? 'url(' + chatUser?.photoUrl + ')' : 'url(../../../assets/images/default-profile-icon.png)'}"></div>
                <div class="message__content">
                    <p>{{message.value}}</p>
                    <time>{{message.date?.seconds * 1000 | date:'HH:mm, MMM d'}}</time>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="dialog__send__message__wrapper">
        <div class="dialog__send__message"> 
            <input [(ngModel)]="newMessageValue" name="newMessageValue" type="text" autocomplete="off" placeholder="Type your message">
            <button (click)="sendMessage()" class="dialog__send__message__button" type="button">
                <svg width="20" height="20" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z"></path><path d="M4.01 6.03l7.51 3.22-7.52-1 .01-2.22m7.5 8.72L4 17.97v-2.22l7.51-1M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3z" fill="#939393"></path>
                </svg>
            </button>
        </div>
    </div>
</section>